form {
  margin: 0;

  .searchform-container {
    width: 22rem;
    border-bottom: solid 1px $black;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .input {
      flex: 1;
      height: 3rem;
      border: none;
      border-radius: none;
      padding-left: $space;

      &:focus {
        outline: none;
      }
    }

    .button {
      width: 3rem;
      height: 3rem;
      background: $black;
      border: none;

      img {
        width: 100%;
      }
    }
  }
}
