.member-page {
  @include mq-up("sm") {
    padding-top: $space * 4;
  }

  .hero-container {
    width: 100%;
    height: 40rem;
    margin: 2rem 0;

    .member-hero {
      width: 100%;
      height: 100%;

      @include back-img-contain("member_page_sp.jpg");

      @include mq-up("sm") {
        @include back-img-contain("member_page_pc.jpg");
      }
    }
  }

  .member-list {
    display: flex;
    flex-wrap: wrap;

    @include mq-up("sm") {
      margin-top: $space * 2;
    }

    @include mq-up("lg") {
      width: 100rem;
      margin: $space * 2 auto 0;
    }

    .member-wrapper {
      width: 33.33%;
      position: relative;

      @include mq-up("md") {
        width: 25%;
      }

      @include mq-up("lg") {
        width: 20%;

        &:hover {

          .color {
            z-index: z("below");
          }

          .name {
            z-index: z("below");
          }
        }
      }

      img {
        @include covered;
      }

      .color {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: z("below");

        @include mq-up("lg") {
          z-index: z("above");
        }
      }

      .name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: font("handmade");
        font-size: 3rem;
        z-index: z("below");

        @include mq-up("lg") {
          z-index: z("above");
        }
      }
    }
  }
}
