.new-n-pop-page {

  .hero {
    height: 20rem;

    @include flex-center;

    img {
      width: 80%;

      @include mq-up("lg") {
        width: 60rem;
      }
    }
  }

  .articles-container {
    margin: 0 $space * 2;

    .articles-wrapper {
      margin-top: $space * 2;
    }
  }
}
