* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family:
    dnp-shuei-gothic-kin-std,
    -apple-system,
    linkMacSystemFont,
    /* Macの欧文はSan Francisco (OS X 10.11以降) */
    "Helvetica Neue",
    /* Macの欧文 (OS X 10.10以前) */
    "Segoe UI",
    /* Windowsの欧文 */
    YuGothicM,
    /* Windows8.1以上は游ゴシック */
    YuGothic,
    /* Macの游ゴシック */
    Meiryo,
    /* 游ゴシックが入っていないWindows */
    sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.4rem;
  color: $text;

  @include mq-up("md") {
    font-size: 1.6rem;
    line-height: 2em;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.4rem;
  line-height: 1.9em;
  margin: 0;
  color: $text;

  @include mq-up("md") {
    font-size: 1.6rem;
    line-height: 2em;
  }
}

a {
  text-decoration: none;
}

.entry-contents img,
.entry-contents figure {
  max-width: 100%;
}

section {
  margin-bottom: $space * 5;

  @include mq-up("sm") {
    margin-bottom: $space * 10;
  }
}

.button-text {
  font-family: font("midashi");
  color: $black;
}

.head-text {
  font-family: font("midashi");
  color: $black;
  line-height: 1.4em;
}

.section-title {
  border-top: dashed 1px $border;
  border-bottom: dashed 1px $border;
  text-align: center;
  font-family: font("midashi");
  color: $black;
  line-height: 1.4em;
  padding: 0.2rem;
  margin-bottom: $space * 2;
}

.date {
  font-family: font("brandon");
  font-style: italic;
  font-size: 1rem;

  @include mq-up("md") {
    font-size: 1.2rem;
  }
}

.main {
  margin-top: 6rem;
  overflow: hidden;

  @include mq-up("md") {
    margin-top: 8rem;
  }
}

.emoji {
  font-size: 2.2rem;
  padding-top: 2rem;
}

.articles-hero {
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 24rem;
}

// 記事一覧
.articles-container {

  .section-title {
    @include mq-up("lg") {
      width: 100rem;
      margin: 0 auto $space * 2;
    }
  }

  .articles-wrapper {
    display: flex;
    flex-wrap: wrap;

    @include mq-up("lg") {
      width: 100rem;
      margin: 0 auto;
    }

    .card-big {
      width: 100%;

      @include mq-up("md") {
        width: calc((100vw - 52px) / 2);

        &:nth-child(odd) {
          margin-right: 2rem;
        }
      }

      @include mq-up("lg") {
        width: calc(96rem / 3);

        &:nth-child(odd) {
          margin-right: 0;
        }

        &:nth-child(3n + 1),
        &:nth-child(3n + 2) {
          margin-right: 2rem;
        }

        .thumb-container {
          height: 20.4rem;
        }
      }
    }
  }
}

.button-double {
  width: calc(100% - (0.8rem * 4));
  margin: 0 $space * 2;
  height: 5rem;
  border: solid 1px $border;
  position: relative;

  @include flex-center;

  &:hover {
    background: $black;

    .head-text {
      color: white;
    }

    .deco {
      border: solid 1px white;
    }
  }

  .deco {
    width: calc(100% - 6px);
    height: 42px;
    position: absolute;
    top: 3px;
    left: 3px;
    border: solid 1px $border;
    transition: all 0.3s ease-out;
  }
}
